<html>
<head>
	<script src='js/jquery-3.4.1.min.js'></script>
	<script src='js/bootstrap.js'></script>
	<link href='css/Style_home.css' rel="stylesheet" type="text/css" />
	<script src="js/raphael-2.1.4.min.js"></script>

	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<!-- font manu awesome -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	<!-- font user awesome -->
	
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	
</head>
		
<body>
	
 
	<div id="main_login">		
<p style="text-align:left; margin-left: 30%; margin-top: 100px;color:white;font-size: 35px;">GIẢI PHÁP NHÀ MÁY THÔNG MINH</p>
		
<div id="frame_login1">      
		<form action="/user" method="post">

			<div id="frame_user">
				<div id="frame_small_user_1">
				<div id="frame_small_user"></div>
				</div>	
				<input id="Style_user" type="text" id="txtUser" name="username"/>
			</div>
			
			<div id="Style_user_pass"></div>
	<div id="frame_pass">
		<div id="frame_small_pass_1">
		<div id="frame_small_pass"></div>
		</div>
		<input id="Style_pass" type="password" id="txtPass" name="password"/>
	 </div>
	
			<p>
			<input id="Style_btnDangnhap" type="submit" id="btnDangnhap" value="DANG NHAP"/>
			</p>
			</div>
		</form>
		
	</div>
	
</div>
	</div>	
		

		
	
</body>

</html>