.sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background: #045FB4;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 25px;
  color: white;
  line-height: 70px;
	padding-left: 20px;
  text-align: left;
  background: #045FB4;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 50px;
  width: 100%;
  line-height: 65px;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 0px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}

ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check_1{
  display: none;
}
#check_2{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #045FB4;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 251px;
  top: 15px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 15px;
  transition: all .5s ease;
}
#check_2:checked ~ .sidebar{
  left: -250px;
}
#check_1:checked ~ .sidebar{
  left: 0px;
}
#check_2:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check_1:checked ~ label #cancel{
  left: 195px;
}
#check_2:checked ~ section{
	margin-left: 0px;
}
#check_1:checked ~ section{
	margin-left: 250px;
}
section{
	background-position: center;
	background-size: cover;
	transition: all .5s;
	height: 100%;
	border: 0.1px solid #CDCDCD;
	background-color: #D0D3DA;
	margin-left: 250px;
	margin-right: 0px;
	margin-top: 0px;
}







