<html>
<head>
	<script src='js/mqtt.min.js'></script>
	<script src='js/jquery-3.4.1.min.js'></script>
	<script src='js/bootstrap.js'></script>
	<script src='js/socket.io.js'></script>
	<link href='css/Style_data.css' rel="stylesheet" type="text/css" />
		<script src="js/raphael-2.1.4.min.js"></script>
	
	
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<title>SMART FACTORY | Home</title> -->
  <!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="bower_components/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="bower_components/dist/css/skins/skin-blue.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  
	
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<!-- Chartjs -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

	  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!--  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>-->

  <!-- Optional theme -->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
	<!-- font manu awesome -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	<!-- font user awesome -->
	
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>	
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">S</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">SYSTEMS</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/image/TuyenCamDuong.png" class="user-image" alt="">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" id="username1"><%= user.username %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/image/TuyenCamDuong.png" class="img-circle" alt="User Image">
                <p>
                  <span ><%= user.username %></span>
					<small>CÔNG TY APATIT VIỆT NAM</small>
                  <small>Chi Nhánh Tuyển Cam Đường</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <!-- <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <div><a href="/user/logout"><button>Logout</button></a></div>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
          </li>
        </ul>
      </div>
    </nav>
 
  </header>
  
 
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">

    <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
    <li class="treeview">
      <a href="#"><i class="fa fa-industry"></i> <span>Nồng độ bùn 01</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/homeCD02">Hôm nay</a></li>
        <li><a href="/homeCD02a">Hôm qua</a></li>
		<li><a href="/homeCD01Baocaongay">Báo cáo ngày</a></li>
		<li><a href="/homeCD01Baocaothang">Báo cáo tháng</a></li>
		<li><a href="/homeCD01BaocaoExcell">Xuất file Excel</a></li>
		<li><a href="/homeCD03Setup">Cài đặt</a></li>
      </ul>
    </li>

    <li class="treeview">
      <a href="#"><i class="fa fa-industry"></i> <span>Điều khiển Van DN200</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/homeCD3201">Van bùn DN200</a></li>
      </ul>
    </li>

  </ul>
		
 
  <!-- /.sidebar-menu -->
</section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
<!-- Main content -->

	
	
	<section>
		
	<div class="row">
    <div class="col-md-12">
	
<p style="color:blue; padding-top:10px; text-align:center; font-size: 18px;" >MÁY ĐO NỒNG ĐỘ BÙN 01</p>
		
			
	</div>
</div>
    
		
		<div class="row">
		<div class="col-md-10 col-md-offset-1">
<div class="box">
    <div class="box-header">
      <h4 class="box-title">Thống kê trong ngày:</h4>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
	
		<div class='col-md-3'>
			<p style="color:black; text-align:right; font-size: 16px;" >Chọn ngày:</p>
		</div>
		
		<div class='col-md-3'>
			
          <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
              <input type='text' class="form-control" id="startdate1" name="startdate" value="<%= moment(startdate).format('DD-MMM-YYYY') %>" />
              <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        
        <div class="col-md-2">
          <button onclick="updateChart()" class="form-control">View</button>
        </div>

        <div class="col-md-2">
        	<a href="/homeCD01Baocaongay">
          	<button class="form-control">Today</button>
          </a>
        </div>	
		
    </div>
    <!-- /.box-body -->
  </div>
</div>
</div>		
		
		
		
	<div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-bullhorn"></i>

          <h3 class="box-title">Nồng độ bùn 01</h3>
        </div>
        
        <div class="box-body">
          <canvas id="myChart"></canvas>
  
          
        </div>
      </div>
    </div>	
		
		
	</div>
		</div>	
		
	
		
			
	</section>

  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
	
<footer class="main-footer">
  	<!-- To the right -->
<div class="pull-right hidden-xs">
  <b>Version</b> 2.7.20
</div>
<!-- Default to the left -->

<strong>Copyright &copy; 2019-2030 <a href="https://www.finet.vn">Finet Industry</a>.</strong> All rights reserved.
    
  </footer>

  <!-- Control Sidebar -->
  <!-- < include rightsidebar > -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/bower_components/dist/js/adminlte.min.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->


<!-- DataTables -->
 
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
</body>	


    <script>
      //var client = mqtt.connect('ws://192.168.1.100:1883');
//	  var client = mqtt.connect('http://192.168.0.100:1883');
//      console.log("Success");
//      client.subscribe("topic1/demo");
//
//      client.on("message", function(topic, payload) {
//      alert([topic, payload].join(": "));
//      console.log(topic + " : " + payload);
//      
//      });
		
		var socket = io("http://27.71.231.45:3201");
 
	
    	socket.on('data3', function(msg){
      		document.getElementById("data3").innerHTML = msg; 
			});
    	socket.on('data4', function(msg){
      		document.getElementById("data4").innerHTML = msg; 
			});
    	socket.on('data5', function(msg){
      		document.getElementById("data5").innerHTML = msg; 
			});
    	socket.on('data6', function(msg){
      		document.getElementById("data6").innerHTML = msg; 
			});
	    socket.on('data7', function(msg){
      		document.getElementById("data7").innerHTML = msg; 
			});
    	socket.on('data8', function(msg){
      		document.getElementById("data8").innerHTML = msg; 
			});
    	socket.on('data9', function(msg){
      		document.getElementById("data9").innerHTML = msg; 
			});
    	socket.on('data10', function(msg){
      		document.getElementById("data10").innerHTML = msg; 
			});
    	socket.on('data11', function(msg){
      		document.getElementById("data11").innerHTML = msg; 
			});
    	socket.on('data12', function(msg){
      		document.getElementById("data12").innerHTML = msg; 
			});
    		  
	
		  $(document).ready(function(){
			$("#btnDOWNLOAD").click(function(){
			//alert(1);
			//console.log("Clicked")
			socket.emit("data30", $("#Textsend").val());
			});
		});


</script>

	<script type="text/javascript">
		let labels = []; let vals = []; let tblData = [];
  		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
			// The type of chart we want to create
			//type: 'line',
			type: 'bar',

			// The data for our dataset
			data: {
				labels: [],
				datasets: [{
					label: 'Nồng độ bùn [%]',
					//backgroundColor: 'rgba(255, 255, 255, 0.1)', // for line
					backgroundColor: 'rgba(255, 99, 132)', // for bar
					borderColor: 'rgb(255, 99, 132)',
					data: []
				}]
			},

			// Configuration options go here
			options: {
				legend: {
			  display: true,
			  labels: {
				  fontColor: 'rgb(255, 99, 1)'
			  }
			}
			}
		});


	$.ajax({
    url: '/apiGetDataChartCD01Baocaongay',
    method: 'post',
    data: { id: 1}
    }).done(function(res) {
        if (true) {
	        console.log(res);
	        res.forEach(function(dt){
	        	labels.push(dt.CD01_timestamp)
	        	vals.push(dt.value)

	        	tblData.push({ time: dt.CD01_timestamp, val:dt.value})
	        })
	        console.log(vals)
	        chart.data.labels = labels;
	        chart.data.datasets[0].data = vals;
	      	chart.update();
					
		    } else {
		        console.log('error...ajax');
		    }
		  });

  function updateChart(){
  	let startDate = $('#startdate1').val();

  	console.log(startDate)
  	$.ajax({
    url: '/apiGetDataChartCD01Baocaongay',
    method: 'post',
    data: { startDate: startDate}
    }).done(function(res) {
        if (true) {
        	labels = []; vals = []; tblData = [];
	        console.log(res);
	        res.forEach(function(dt){
	        	labels.push(dt.CD01_timestamp)
	        	vals.push(dt.value)
	        	tblData.push({ time: dt.CD01_timestamp, val:dt.value})
	        })
	      	chart.data.datasets[0].data = vals;
	      	chart.update();
	      	
	        //window.location.reload();
		    } else {
		        console.log('error...ajax');
		    }
		  });
  }
		
</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  

  <script type="text/javascript">
      $('#startdate').datetimepicker({
          useCurrent: false,
          format: 'DD-MMM-YYYY',
          minDate: moment()
      });
   
      $('#startdate').datetimepicker().on('dp.change', function (e) {
          var incrementDay = moment(new Date(e.date));
          incrementDay.add(-1, 'days');
          $(this).data("DateTimePicker").hide();
      });
	  
	  $('#fromdate').datetimepicker({
          useCurrent: false,
          format: 'DD-MMM-YYYY',
          minDate: moment()
      });
	  
	  $('#todate1').datetimepicker({
          useCurrent: false,
          format: 'DD-MMM-YYYY',
          minDate: moment()
      });
   
      
	  
    $(document).ready(function() {
      $(function() {
        $('#datetimepicker6').datetimepicker({format: 'DD-MMM-YYYY'});
        $('#datetimepicker2').datetimepicker({format: 'DD-MMM-YYYY'});
		$('#datetimepicker3').datetimepicker({format: 'DD-MMM-YYYY'});

        
      });
    });

$(document).ready(function(){
			$("#head_frame_12").click(function(){
    var x = document.getElementById('head_frame_12b');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
			});
			
		});
  </script>

	


</html>