<html>
<head>
	<script src='js/mqtt.min.js'></script>
	<script src='js/jquery-3.4.1.min.js'></script>
	<script src='js/bootstrap.js'></script>
	<script src='js/socket.io.js'></script>
<link href='css/Style_home.css' rel="stylesheet" type="text/css" />
	<script src="js/raphael-2.1.4.min.js"></script>
	
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<title>SMART FACTORY | Home</title> -->
  <!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	
	
  <link rel="stylesheet" href="bower_components/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="bower_components/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="bower_components/dist/css/skins/skin-blue.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	</script>
	<!-- Gause -->
  <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	<!-- Level -->
  <script src="visualize/d3.v3.min.js"></script>
  <script src='visualize/liquidFillGauge.js'></script>
	
	<!-- Chart -->
  <script src="visualize/smoothie.js"></script>
	
	<!-- font manu awesome -->
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	
	<!-- font user awesome -->
	
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

	
</head>
		
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">S</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">SYSTEMS</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/image/BacNhacSon.png" class="user-image" alt="">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" id="username1"><%= user.username %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/image/BacNhacSon.png" class="img-circle" alt="User Image">
                <p>
                  <span ><%= user.username %></span>
				 <small>CÔNG TY APATIT VIỆT NAM</small>
                  <small>Chi Nhánh Tuyển Bắc Nhạc Sơn</small>
                </p>
              </li>
              <!-- Menu Body -->
              <!-- <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
              </li> -->
              <!-- Menu Footer-->
              <li class="user-footer">
                <!-- <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
                <div class="pull-right">
                  <div><a href="/user/logout"><button id="button2">Logout</button></a></div>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <!-- <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a> -->
          </li>
        </ul>
      </div>
    </nav>
 
  </header>
  
 
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">

    <!-- <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li> -->
    <li class="treeview">
      <a href="#"><i class="fa fa-industry"></i> <span>Điện nước</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/home01">Trang chủ</a></li>
        <li><a href="/home12">Biểu đồ</a></li>
		<li><a href="/home131">Đồ thị</a></li>
		<li><a href="/home02a">Báo cáo Ca</a></li>
		<li><a href="/home321">Báo cáo Ngày</a></li>
		<li><a href="/home31">Báo cáo Tháng Năm</a></li>
		<li><a href="/home02">Cài đặt</a></li>
      </ul>
    </li>

    <li class="treeview">
      <a href="#"><i class="fa fa-industry"></i> <span>Hệ thống khác</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="/power">Băng Tải Xích</a></li>
        <li><a href="/power/real">Máy Nghiền Bi</a></li>
        <li><a href="/power/chart">Item 3</a></li>
        <li><a href="/power/allchart">Item 4</a></li>
      </ul>
    </li>

  </ul>
		
 
  <!-- /.sidebar-menu -->
</section>
    <!-- /.sidebar -->
  </aside>

	
	
	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    
<!-- Main content -->
	  
<section>
		

	<div class="row">
            <div class="col-md-12">
	
		<p style="color:blue; padding-top:10px; text-align:center; font-size: 18px;" >HỆ THỐNG ĐỌC ĐỒNG HỒ ĐIỆN NƯỚC TẬP ĐOÀN THĂNG LONG REAL</p>
				
		<div class="col-md-10">	
			
		<div class="col-md-10 col-md-offset-2">
		<div class="box box-info">
            <div class="box-header with-border">
          <i class="fa fa-industry"></i>

          <h3 class="box-title">ĐỒNG HỒ ĐIỆN NƯỚC TẦNG 6</h3>
		<div class="box-tools pull-right">
         <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
		<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              
        </div>	
				
        </div>
        <!-- /.box-header -->
        <div class="box-body">
			<div class="row">
			<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >ID Thiết bị</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >Tầng-Căn Hộ</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2d">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >Đồng hồ điện </p>
            </div>
			<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >Đơn vị</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2d">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >Đồng hồ nước</p>
            </div>
			<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >Đơn vị</p>
            </div>

          </div>
          <div class="row">
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >91</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-01</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_3"></div></span></h5>
            </div>
			<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_4"></div></span></h5>
            </div>
			<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>

          </div>
         <div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
          <div class="row">
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >92</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-02</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_5"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_6"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>

          </div>
			 <div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
			<div class="row">
			<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >93</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-03</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_7"></div></span></h5>
            </div>
				
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
				
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_8"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
				
          </div>
			         <div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
          <div class="row">
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >94</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-04</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_9"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-1" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_10"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			         <div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
          <div class="row">
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >95</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-05</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_11"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_12"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			
			<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
			<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >96</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-06</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_13"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_14"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			
			
			<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
			<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >97</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-07</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_15"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_16"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			
			<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
			<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >98</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-08</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_17"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_18"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			
			
			<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
			<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >99</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-09</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_19"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_20"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			
			<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
			<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >100</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-10</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_21"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data301_22"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
			  
          </div>
			
		<!-- Tầng 01 Hộ dân 11 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >101</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-11</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_3"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_4"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>
			
		<!-- Tầng 01 Hộ dân 12 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >102</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-12</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_5"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_6"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>
		
		<!-- Tầng 01 Hộ dân 13 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >103</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-13</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_7"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_8"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
		<!-- Tầng 01 Hộ dân 14 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >104</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-14</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_9"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_10"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
		
		<!-- Tầng 01 Hộ dân 15 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >105</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-15</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_11"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_12"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
			
		<!-- Tầng 01 Hộ dân 16 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >106</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-16</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_13"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_14"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
			
		<!-- Tầng 01 Hộ dân 17 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >107</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-17</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_15"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_16"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
			
		<!-- Tầng 01 Hộ dân 18 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >108</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-18</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_17"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_18"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
		<!-- Tầng 01 Hộ dân 19 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >109</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-19</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_19"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_20"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
		<!-- Tầng 01 Hộ dân 20 -->
		<div class="row">
			 <h5><span  style="font-size: 10px"></span></h5>
			 </div>
		<div class="row">
				<div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center;font-weight: bold; padding-top:15px; font-size: 16px;" >200</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2a">
              <p style="text-align:center; padding-top:15px; font-size: 16px;" >6-20</p>
            </div>
            <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_21"></div></span></h5>
            </div>
			  <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:20px; font-size: 16px;" >Wh</p>
            </div>
			  <div class="col-md-2 col-md-offset-0" id="content_text2">
              <h5><span  style="font-size: 20px"><div id="data302_22"></div></span></h5>
            </div>
            <div class="col-md-1 col-md-offset-0" id="content_text2aaa">
              <p style="text-align:center; padding-top:15px; padding-left:35px; font-size: 16px;" >m3</p>
            </div>
          </div>	
			
			
			
			
			         			
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>	
			
			
				
	</div>			
		
		
	
	</div>
</div>

	
		
</section>

  </div>
  <!-- /.content-wrapper -->



  <!-- Main Footer -->
  <footer class="main-footer">
  	<!-- To the right -->
<div class="pull-right hidden-xs">
  <b>Version</b> 2.7.20
</div>
<!-- Default to the left -->

<strong>Copyright &copy; 2019-2020 <a href="https://www.finet.vn">Finet Industry</a>.</strong> All rights reserved.
    
  </footer>

  <!-- Control Sidebar -->
  <!-- < include rightsidebar > -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/bower_components/dist/js/adminlte.min.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->


<!-- DataTables -->
 
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	
 

	
	
	
</body>	
	
    <script>
      //var client = mqtt.connect('ws://192.168.1.100:1883');
//	  var client = mqtt.connect('http://192.168.0.100:1883');
//      console.log("Success");
//      client.subscribe("topic1/demo");
//
//      client.on("message", function(topic, payload) {
//      alert([topic, payload].join(": "));
//      console.log(topic + " : " + payload);
//      
//      });
		

		var socket = io("http://27.71.231.45:3001");
    	 		
    	socket.on('data301_3', function(msg){
      		document.getElementById("data301_3").innerHTML = msg;
			});
    	socket.on('data301_4', function(msg){
      		document.getElementById("data301_4").innerHTML = msg;
			intdata4 = parseFloat(data4);
			});
    	socket.on('data301_5', function(msg){
      		document.getElementById("data301_5").innerHTML = msg;
			intdata5 = parseFloat(data5);
			});
    	socket.on('data301_6', function(msg){
      		document.getElementById("data301_6").innerHTML = msg;
			intdata6 = parseFloat(data6);
			});
	    socket.on('data301_7', function(msg){
      		document.getElementById("data301_7").innerHTML = msg;
			intdata7 = parseFloat(data7);
			});
    	socket.on('data301_8', function(msg){
      		document.getElementById("data301_8").innerHTML = msg;
			intdata8 = parseFloat(data8);
			});
    	socket.on('data301_9', function(msg){
      		document.getElementById("data301_9").innerHTML = msg;
			intdata9 = parseFloat(data9);
			});
    	socket.on('data301_10', function(msg){
      		document.getElementById("data301_10").innerHTML = msg;
			intdata10 = parseFloat(data10);
			});
    	socket.on('data301_11', function(msg){
      		document.getElementById("data301_11").innerHTML = msg;
			intdata11 = parseFloat(data11);
			});
    	socket.on('data301_12', function(msg){
      		document.getElementById("data301_12").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_13', function(msg){
      		document.getElementById("data301_13").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_14', function(msg){
      		document.getElementById("data301_14").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
    	socket.on('data301_15', function(msg){
      		document.getElementById("data301_15").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});	
		socket.on('data301_16', function(msg){
      		document.getElementById("data301_16").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_17', function(msg){
      		document.getElementById("data301_17").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_18', function(msg){
      		document.getElementById("data301_18").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_19', function(msg){
      		document.getElementById("data301_19").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_20', function(msg){
      		document.getElementById("data301_20").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		socket.on('data301_21', function(msg){
      		document.getElementById("data301_21").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		
		socket.on('data301_22', function(msg){
      		document.getElementById("data301_22").innerHTML = msg;
			intdata12 = parseFloat(data12);
			});
		
		socket.on('data302_3', function(msg){
      	document.getElementById("data302_3").innerHTML = msg;
			});
    	socket.on('data302_4', function(msg){
      		document.getElementById("data302_4").innerHTML = msg;
			});
    	socket.on('data302_5', function(msg){
      		document.getElementById("data302_5").innerHTML = msg;
			});
    	socket.on('data302_6', function(msg){
      		document.getElementById("data302_6").innerHTML = msg;
			});
	    socket.on('data302_7', function(msg){
      		document.getElementById("data302_7").innerHTML = msg;
			});
    	socket.on('data302_8', function(msg){
      		document.getElementById("data302_8").innerHTML = msg;
			});
    	socket.on('data302_9', function(msg){
      		document.getElementById("data302_9").innerHTML = msg;
			});
    	socket.on('data302_10', function(msg){
      		document.getElementById("data302_10").innerHTML = msg;
			});
    	socket.on('data302_11', function(msg){
      		document.getElementById("data302_11").innerHTML = msg;
			});
    	socket.on('data302_12', function(msg){
      		document.getElementById("data302_12").innerHTML = msg;
			});
		socket.on('data302_13', function(msg){
      		document.getElementById("data302_13").innerHTML = msg;
			});
		socket.on('data302_14', function(msg){
      		document.getElementById("data302_14").innerHTML = msg;
			});
    	socket.on('data302_15', function(msg){
      		document.getElementById("data302_15").innerHTML = msg;
			});	
		socket.on('data302_16', function(msg){
      		document.getElementById("data302_16").innerHTML = msg;
			});
		socket.on('data302_17', function(msg){
      		document.getElementById("data302_17").innerHTML = msg;
			});
		socket.on('data302_18', function(msg){
      		document.getElementById("data302_18").innerHTML = msg;
			});
		socket.on('data302_19', function(msg){
      		document.getElementById("data302_19").innerHTML = msg;
			});
		socket.on('data302_20', function(msg){
      		document.getElementById("data302_20").innerHTML = msg;
			});
		socket.on('data302_21', function(msg){
      		document.getElementById("data302_21").innerHTML = msg;
			});
		
		socket.on('data302_22', function(msg){
      		document.getElementById("data302_22").innerHTML = msg;
			});

</script>
 		
		
</html>